<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="${titulo}"></title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="keywords" />
<meta content="" name="description" />

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon" />
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet" />

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="/lib/animate/animate.min.css" rel="stylesheet" />
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
<link href="/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet" />
<link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" />

<!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body class="bg-dark">
	<div class="container py-5">
		<form th:action="@{/empleado/crearEmpleado}" th:object="${empleado}"
			method="post">

			<div class="form-group row">
				<div class="col-sm-6">
					<input class="form-control" type="text" th:field="*{nombre}"
						placeholder="Nombre" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input class="form-control" type="text" th:field="*{username}"
						placeholder="Username" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input class="form-control" type="text" th:field="*{contraseña}"
						placeholder="Contraseña" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input class="btn btn-primary" type="submit"
						th:value="'Crear empleado'" />
				</div>
			</div>

		</form>
	</div>
</body>
</html>