<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>GesTur</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="img/icons/favicon.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/iconic/css/material-design-iconic-font.min.css">

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100"
			style="background-image: url('img/montaña1.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" th:action="@{/login}"
					method="post">
					<span class="login100-form-title p-b-49"> Iniciar Sesion </span>

					<div class="wrap-input100 validate-input m-b-23"
						data-validate="Username is reauired">
						<span class="label-input100">Usuario</span> <input id="username"
							class="input100" type="text" name="username"
							placeholder="Ingrese usuario" autocomplete="off"> <span
							class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div></div>

					<div class="wrap-input100 validate-input"
						data-validate="Password is required">
						<span class="label-input100">Contraseña</span> <input id="pass"
							class="input100" type="password" name="password"
							placeholder="Ingrese contraseña"> <span
							class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div></div>
					<div></div>

					<div class="container-login100-form-btn mt-3">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn"
								onclick="console.log('usuario: '+$('#username').val()); console.log('contraseña: '+$('#pass').val());">
								Ingresar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main-login.js"></script>

	<!-- 	<script type="text/javascript"> -->
	// $(document).ready(function() { // $("form").submit(function(e) { //
	e.preventDefault(); // }); // });
	<!-- 	</script> -->

</body>
</html>
