<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${titulo}"></title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet">

<!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body class="bg-dark">

	<!--==========================
    Header
  ============================-->
	<header id="header" style="background-color: #343a40;">
		<div class="container-fluid">

			<div id="logo" class="pull-left">
				<h1 class="text-light" th:text="${titulo}"></h1>
			</div>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<!-- #header -->


	<section>
		<div class="container my-5 py-5">

			<div class="card bg-dark text-white">
				<div class="card-header bg-secondary" th:text="${cabecera}"></div>
				<div class="card-body">

					<form th:action="@{/reserva/editarReserva}" th:object="${reserva}"
						method="post">

						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Nombre</label>
							<div class="col-sm-6">
								<input type="text" name="nombre" th:field="*{pasajero.nombre}"
									class="form-control" autocomplete="no" required
									disabled="disabled" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Apellido</label>
							<div class="col-sm-6">
								<input type="text" name="apellido"
									th:field="*{pasajero.apellido}" class="form-control"
									autocomplete="no" required disabled="disabled" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Documento</label>
							<div class="col-sm-6">
								<input type="text" name="documento"
									th:field="*{pasajero.documento}" class="form-control"
									autocomplete="no" required disabled="disabled" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Actividad</label>
							<div class="col-sm-6">
								<select class="custom-select" th:field="*{actividad}"
									name="actividadId" disabled="disabled" required>
									<option th:text="${reserva.actividad.nombre}"
										th:value="${reserva.actividad}" disabled="disabled"
										selected="selected"></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Cantidad de
								Pasajeros</label>
							<div class="col-sm-6">
								<input type="number" name="cantPasajeros"
									th:field="*{cantPasajeros}" class="form-control"
									autocomplete="no" min=1 required />
							</div>
						</div>
						<!-- 						<div class="form-group row"> -->
						<!-- 							<label class="col-sm-2 col-form-label">Email</label> -->
						<!-- 							<div class="col-sm-6"> -->
						<!-- 								<input type="email" name="email" class="form-control" autocomplete="no" -->
						<!-- 									required /> -->
						<!-- 							</div> -->
						<!-- 						</div> -->
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Fecha</label>
							<div class="col-sm-6">
								<input type="date" name="fechaActividad"
									th:field="*{fechaActividad}"
									th:placeholder="${reserva.fechaActividad}" class="form-control"
									autocomplete="no" required="required" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Observaciones</label>
							<div class="col-sm-6">
								<textarea style="resize: none; height: 100px;"
									name="observaciones" th:field="*{observaciones}"
									class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Empleado</label>
							<div class="col-sm-6">

								<select class="custom-select" th:field="*{empleado}"
									name="empleadoId" disabled="disabled" required>
									<option th:value="${reserva.empleado}"
										th:text="${reserva.empleado.nombre}" disabled="disabled"
										selected="selected"></option>
								</select>
							</div>
						</div>
						<div class="form-group row d-flex justify-content-between">
							<a class="btn btn-secondary ml-3" th:href="@{/}">&laquo;
								Volver</a>
							<div class="mr-3">
								<input type="submit" value="Editar reserva"
									class="btn btn-secondary" />
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>

	</section>

</body>
</html>